html, body {
    font-size: 100%;
    background-color: black;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: white;
}
.header{
    
    display: flex;
    height: 10%;
    flex-direction: row;
    justify-content:space-between;
    
    }
.transform:hover {
        
    transform: scale(1.1);
}
@media screen and (max-width: 1210px) {
        .navmobile{
            display: none;
        }
        .navrubrique{
            
            margin: 5%;
        }
    }
@media screen and (min-width: 1209px) {
    .navrubrique{
        display: none;
    }
    
}
.evenements {
   /** background-image: url(asset/evenement.png);
    background-size: contain;**/
    width: 80%;
    height: 80%;
    background-color: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 26%, rgba(0,212,255,1) 100%);;
    text-align: center;
    border: 6px solid white;
    box-shadow: rgba(68, 18, 216, 0.971) 6px 4px 0px;
    margin: auto;
    border-radius: 1%;
}
h1{
    text-decoration: underline;
    background: rgb(1,1,10);
    background: linear-gradient(333deg, rgba(1,1,10,1) 31%, rgba(170,161,161,1) 81%);
    background-clip: text;
    -webkit-background-clip:text;
    color:transparent;
    
}
img{
    width: 55%;
    margin: 1%;
    border-radius: 3%;
}
    .foot {
    color: white;
    font-size: 0.8em;
    text-align: center;
    position:relative;
    bottom: auto;
}