html, body {
    font-size: 100%;
    background-color: black;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
    
    
    /*partie index*/
    .title{
    
    color: white;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 3.5em;
    text-shadow: rgba(68, 18, 216, 0.971) 4px 3px 0px;
    }
    .navig{
    border-radius: 30% 30% 30% 30%;
    }
    .header{
    
    display: flex;
    height: 10%;
    flex-direction: row;
    justify-content:space-between;
    
    }
    
    .photo
    {
        box-shadow: rgba(68, 18, 216, 0.971) 6px 4px 0px;
        border: white 8px solid;
        border-radius: 15% 40% 15% 40%;
    }